.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page__title {
  font-family: "Lighthaus Regular";
  font-size: 50px;
  line-height: 120%;
  text-align: center;
  color: var(--secondary-color);
  padding-bottom: 46px;
}

@media (max-width: 768px) {
  .page__title {
    font-size: 40px;
    padding-bottom: 37px;
  }
}
@media (max-width: 767.98px) {
  .page__title {
    font-size: 30px;
  }
}
@media (max-width: 590px) {
  .page__title {
    padding-bottom: 23px;
  }
}

.primary-button {
  background: linear-gradient(92.18deg, #5e3928 20.13%, #e4a16f 92.93%);
  font-size: 18px;
  line-height: 96.4%; // 17px
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Mont Bold";
  text-align: center;
  padding: 16px 131px 17px 132px;
  transition: all 0.3s ease 0s;
}
.primary-button:hover {
  filter: contrast(1.3);
}




.header {
  position: relative;
  display: flex;
  justify-content: center;
}
.header__container {
  display: flex;
  align-items: end;
  padding-top: 440px;
  column-gap: 77px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 3;
  max-width: 100%;
  width: 100%;
}
.menu__list {
  display: flex;
  column-gap: 50px;
}
header .menu__link {
  font-family: "Mont SemiBold";
  color: var(--primary-color);
  font-size: 16px;
  line-height: 96.4%;
  transition: all 0.3s ease 0s;
}
header .menu__link:hover {
  background: linear-gradient(92.09deg, #5e3928 -79.4%, #e4a16f 84.12%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration-color: #e29f6e !important;
  text-decoration: underline;
}
.icon-menu-block {
  display: flex;
  position: absolute;
  right: 260px;
  top: 0;
  z-index: 3;
  column-gap: 20px;
}
.icon-menu-block img {
  background-color: var(--background-color);
  padding: 40px 10px 13px 10px;
}
.icon-menu-block a:nth-child(3) img {
  padding: 40px 10px 15px 10px;
}
.favorite-icon-mobile,
.profile-icon-mobile {
  display: none;
}


.main {
  position: relative;
}
.main-pic {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  height: 896px;
}
.main-pic-768px {
  display: none;
}
.dist-component {
  position: absolute;
  left: 37%;
  bottom: 0;
  z-index: 3;
}
.circle-with-border-1 {
  position: absolute;
  left: 62%;
  top: 139px;
  z-index: 3;
}
.circle-with-border-2 {
  position: absolute;
  left: 58%;
  top: 399px;
  z-index: 3;
}
.circle-with-border-3 {
  position: absolute;
  left: 63%;
  bottom: 259px;
  z-index: 3;
}
.dist-image-round {
  position: absolute;
  top: 137px;
  left: 53%;
  z-index: 3;
}
.main .background-text {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: "Lighthaus Regular";
  font-size: 160px;
  line-height: 74.9%; // 120px
  text-align: right;
}
.slider-text-block {
  position: absolute;
  z-index: 3;
  top: 232px;
  left: 260px;
}
.main-title {
  font-family: "Lighthaus Regular";
  font-size: 100px;
  line-height: 74.9%; // 75px
  padding-bottom: 50px;
}
.main-product-title {
  font-size: 50px;
  line-height: 96.4%; // 48px
  padding-top: 50px;
  padding-bottom: 40px;
}
.main-product-info-block {
  display: flex;
  align-items: center;
  padding-bottom: 41px;
  column-gap: 109px;
}
.main-product-info-text {
  font-family: "Mont Regular";
  font-size: 30px;
  line-height: 96.4%; // 29px
}
.main-product-info-price {
  font-size: 30px;
  line-height: 96.4%; // 29px
}
.main-product-button {
  max-width: 327px;
  margin-bottom: 71px;
}
.main-swiper-pagination {
  left: 0;
}
.main-swiper-button-prev {
  left: 0;
  padding: 11px 25px 11px 38px;
  border: 1px solid var(--background-color);
}
.main-swiper-button-next {
  right: 0;
  padding: 11px 38px 11px 25px;
  border: 1px solid var(--background-color);
}
.main-swiper-button-prev::after,
.main-swiper-button-next::after {
  content: "";
}
.main-swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 0;
  opacity: 1;
}
.main-swiper .swiper-pagination-bullet-active {
  background: linear-gradient(65.81deg, #5e3928 -24.09%, #e4a16f 104.02%);
  position: relative;
}
.main-swiper .swiper-horizontal > .main-swiper .swiper-pagination-bullets,
.main-swiper .swiper-pagination-bullets.swiper-pagination-horizontal,
.main-swiper .swiper-pagination-custom,
.main-swiper .swiper-pagination-fraction {
  left: 260px;
  width: 60px;
  bottom: 150px;
}
.dist-component-768px,
.dist-component-320px,
.burger-menu,
.main-pic-320px,
.decorative-line-320px,
.shine-320px {
  display: none;
}

@media (max-width: 1550px) {
  .icon-menu-block {
    right: 103px;
  }
  .slider-text-block {
    left: 103px;
  }
  .circle-with-border-1 {
    left: 68%;
  }
  .circle-with-border-2 {
    left: 63%;
  }
  .circle-with-border-3 {
    left: 70%;
  }
  .dist-image-round {
    left: 56.5%;
  }
  .main-swiper .swiper-horizontal > .main-swiper .swiper-pagination-bullets,
  .main-swiper .swiper-pagination-bullets.swiper-pagination-horizontal,
  .main-swiper .swiper-pagination-custom,
  .main-swiper .swiper-pagination-fraction {
    left: 103px;
  }
  .background-text {
    font-size: 90px;
  }
}
@media (max-width: 1300px) {
  .main-title {
    font-size: 75px;
  }
  .main-product-title {
    font-size: 35px;
  }
  .main-product-info-text,
  .main-product-info-price {
    font-size: 25px;
  }
  .main-product-button {
    font-size: 18px;
    max-width: 290px;
    padding: 16px 100px 17px 100px;
  }
  .icon-menu-block {
    right: 103px;
  }
  .slider-text-block {
    left: 103px;
  }
  .circle-with-border-1 {
    left: 74%;
  }
  .circle-with-border-2 {
    left: 68%;
  }
  .circle-with-border-3 {
    left: 76%;
  }
  .dist-image-round {
    left: 60.5%;
  }
}
@media (max-width: 1200px) {
  .header__container {
    flex-direction: column;
    align-items: start;
    row-gap: 50px;
  }
  .menu__list {
    padding-left: 50px;
  }
  .main-swiper-button-prev,
  .main-swiper-button-next {
    display: none;
  }
  .main-title {
    font-size: 60px;
  }
  .main-product-title {
    font-size: 30px;
  }
  .main-product-info-text,
  .main-product-info-price {
    font-size: 24px;
  }
  .main-product-button {
    font-size: 18px;
    max-width: 244px;
    padding: 16px 90px 17px 90px;
  }
}
@media (max-width: 1024px) {
  .icon-menu-block {
    right: 50px;
  }
  .slider-text-block {
    left: 50px;
  }
  .main-pic {
    height: 1024px;
  }
  .dist-component {
    display: none;
  }
  .dist-component-768px {
    position: absolute;
    left: 38%;
    bottom: 0;
    z-index: 3;
    display: block;
  }
  .dist-image-round {
    left: 64.7%;
    width: 97.26px;
    height: 67.4px;
    z-index: 4;
    top: 480px;
  }
  .circle-with-border-1,
  .circle-with-border-2,
  .circle-with-border-3 {
    width: 17px;
    height: 17px;
    z-index: 4;
  }
  .circle-with-border-1 {
    top: 481px;
  }
  .circle-with-border-2 {
    top: 647px;
    left: 69%;
  }
  .circle-with-border-3 {
    left: 76.5%;
    bottom: 155.32px;
  }
  .main-swiper .swiper-horizontal > .main-swiper .swiper-pagination-bullets,
  .main-swiper .swiper-pagination-bullets.swiper-pagination-horizontal,
  .main-swiper .swiper-pagination-custom,
  .main-swiper .swiper-pagination-fraction {
    left: 50px;
    bottom: 140px;
  }
  .main-product-info-block {
    padding-bottom: 43px;
  }
}
@media (max-width: 768px) {
  .logo {
    max-width: 115px;
    height: 31px;
  }
  .icon-menu-block img {
    background-color: var(--background-color);
    padding: 30px 10px 10px 10px;
  }
  .icon-menu-block a:nth-child(3) img {
    padding: 30px 10px 11px 10px;
  }
  .decorative-line {
    max-width: 388px;
    height: 3px;
  }
  .menu__list {
    column-gap: 53px;
  }
  .slider-text-block {
    top: 316px;
  }
  .main-pic {
    display: none;
  }
  .main-pic-768px {
    display: block;
  }
  .dist-image-round {
    left: 52%;
  }
  .dist-component-768px {
    left: 17%;
  }
  .circle-with-border-1 {
    left: 64%;
  }
  .circle-with-border-2 {
    left: 58%;
  }
  .circle-with-border-3 {
    left: 68%;
  }
  .main-title {
    padding-bottom: 42px;
    line-height: 114.9%; 
  }
  .main-product-title {
    padding-top: 26px;
    line-height: 128.4%; 
  }
}
@media (max-width: 767.98px) {
  .menu__list {
    padding-left: 0;
    display: none;
  }
  .icon-menu-block a:nth-child(1) {
    display: none;
  }
  .shopping-cart-dekstop,
  .profile-icon-dekstop {
    display: none;
  }
  .favorite-icon-mobile,
  .profile-icon-mobile {
    display: block;
  }
  .icon-menu-block img,
  .icon-menu-block a:nth-child(3) img {
    padding: 30px 7px 9.25px 7px;
  }
  .icon-menu-block {
    right: 74px;
  }
  .main .background-text {
    display: none;
  }
  .header__container {
    padding-top: 31px;
  }
  .slider-text-block {
    top: 116px;
  }
}