
.page__our-production {
  padding-top: 80px;
  padding-bottom: 80px;
}
.our-production__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.our-production__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 31px 30px;
}
.our-production__item {
  position: relative;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}
.our-production__item:hover {
  cursor: pointer;
  background: #c4c4c4;
  box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.3);
}
.our-production__item-overlay-1,
.our-production__item-overlay-2,
.our-production__item-overlay-3,
.our-production__item-overlay-4,
.our-production__item-overlay-5 {
  background: linear-gradient(
    351.3deg,
    rgba(203, 141, 98, 0) 33.24%,
    #cb8d62 104.72%
  );
  transform: rotate(-180deg);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
}
.our-production__item-overlay-2,
.our-production__item-overlay-3,
.our-production__item-overlay-5 {
  background: linear-gradient(
    180deg,
    rgba(7, 44, 38, 0.5) 0%,
    rgba(7, 44, 38, 0) 100%
  );
}
.our-production__item-overlay-4 {
  background: linear-gradient(
    180deg,
    rgba(7, 44, 38, 0.5) 16.04%,
    rgba(7, 44, 38, 0) 77.71%
  );
}
.our-production__item-overlay-6 {
  background: linear-gradient(
    285.45deg,
    rgba(11, 63, 55, 0.8) 38.27%,
    rgba(203, 141, 98, 0.8) 141.81%
  );
}
.our-production__item-title {
  font-family: "Mont SemiBold";
  font-size: 30px;
  line-height: 96.4%; // 29px
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 3;
}
.our-production__items
  .our-production__item:nth-child(5)
  .our-production__item-title {
  bottom: -7px;
}
.our-production__items
  .our-production__item:nth-child(6)
  .our-production__item-title {
  bottom: -5px;
}
.our-production__item-30disc,
.our-production__item-50disc,
.our-production__item-80disc {
  font-family: "Mont Black";
  line-height: 96.4%; // 67px
  position: absolute;
  z-index: 3;
}
.our-production__item-50disc {
  font-size: 70px;
  top: 123px;
  right: 35px;
}
.our-production__item-30disc {
  top: 75px;
  left: 83px;
  font-size: 40px;
}
.our-production__item-80disc {
  bottom: 163px;
  left: 21px;
  font-size: 100px;
}

@media (max-width: 1800px) {
  .our-production__container {
    padding: 0 49px;
  }
}
@media (max-width: 1500px) {
  .our-production__item img {
    max-width: 346px;
    max-height: 391px;
  }
  .our-production__item-title {
    font-size: 25px;
  }
  .our-production__item-50disc {
    font-size: 60px;
  }
  .our-production__item-30disc {
    font-size: 30px;
  }
  .our-production__item-80disc {
    font-size: 80px;
    bottom: 110px;
  }
}
@media (max-width: 1200px) {
  .our-production__item img {
    max-width: 279px;
    max-height: 313px;
  }
  .our-production__item-title {
    font-size: 22px;
  }
  .our-production__item-50disc {
    font-size: 45px;
    top: 57px;
    right: 18px;
  }
  .our-production__item-30disc {
    top: 24px;
    left: 27px;
  }
  .our-production__item-80disc {
    font-size: 50px;
    bottom: 112px;
    left: 43px;
  }
}
@media (max-width: 950px) {
  .our-production__items {
    gap: 14.37px 14.85px;
  }
  .our-production__item img {
    max-width: 213.58px;
    max-height: 235.13px;
  }
  .our-production__item-title {
    font-size: 20px;
    max-width: 191px;
  }
  .our-production__items
    .our-production__item:nth-child(1)
    .our-production__item-title,
  .our-production__items
    .our-production__item:nth-child(4)
    .our-production__item-title {
    bottom: -3px;
  }
  .our-production__items
    .our-production__item:nth-child(2)
    .our-production__item-title,
  .our-production__items
    .our-production__item:nth-child(3)
    .our-production__item-title {
    bottom: 20px;
  }
  .our-production__item-50disc {
    font-size: 30px;
    top: 57px;
    right: 18px;
  }
  .our-production__item-30disc {
    top: 24px;
    left: 27px;
    font-size: 30px;
  }
  .our-production__item-80disc {
    font-size: 30px;
    bottom: 90px;
    left: 43px;
  }
}
@media (max-width: 767.98px) {
  .page__our-production {
    padding-top: 39px;
    padding-bottom: 39.67px;
  }
  .our-production__container {
    padding: 0 15px;
  }
  .our-production__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20.38px 20px;
  }
  .our-production__item img {
    max-width: 174px;
    max-height: 191px;
  }
  .our-production__item-title {
    font-size: 14.5px;
    max-width: 191px;
  }
  .our-production__items
    .our-production__item:nth-child(1)
    .our-production__item-title,
  .our-production__items
    .our-production__item:nth-child(4)
    .our-production__item-title,
  .our-production__items
    .our-production__item:nth-child(2)
    .our-production__item-title,
  .our-production__items
    .our-production__item:nth-child(3)
    .our-production__item-title {
    bottom: 5px;
  }
  .our-production__items
    .our-production__item:nth-child(5)
    .our-production__item-title,
  .our-production__items
    .our-production__item:nth-child(6)
    .our-production__item-title {
    bottom: 0;
  }
  .our-production__item-50disc,
  .our-production__item-80disc,
  .our-production__item-30disc {
    font-size: 20px;
  }
  .our-production__item-50disc {
    top: 57px;
    right: 18px;
  }
  .our-production__item-30disc {
    top: 24px;
    left: 27px;
  }
  .our-production__item-80disc {
    bottom: 80px;
    left: 43px;
  }
}
@media (max-width: 400px) {
  .page__title {
    font-size: 24px;
  }
  .our-production__item img {
    max-width: 135px;
    max-height: 148.62px;
  }
  .our-production__item-title {
    font-size: 12px;
    max-width: 90px;
  }
  .our-production__item:nth-child(1) .our-production__item-title,
  .our-production__item:nth-child(2) .our-production__item-title,
  .our-production__item:nth-child(5) .our-production__item-title {
    max-width: 100%;
  }
  .our-production__items
    .our-production__item:nth-child(4)
    .our-production__item-title,
  .our-production__items
    .our-production__item:nth-child(3)
    .our-production__item-title {
    bottom: 0;
  }
  .our-production__item-50disc,
  .our-production__item-80disc,
  .our-production__item-30disc {
    font-size: 14px;
  }
  .our-production__item-80disc {
    bottom: 71px;
    left: 34px;
  }
  .our-production__item-30disc {
    top: 16px;
    left: 24px;
  }
  .our-production__item-50disc {
    top: 36px;
    right: 18px;
  }
}