.page__top-sales {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}
.top-sales {
  background: url(img/INDEX/top-sales/bg.png);
}
.top-sales-swiper .swiper-slide {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 33px;
  padding-bottom: 57px;
}
.top-sales__item {
  position: relative;
}
.top-sales-main-pic:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}
.top-sales-main-pic {
  max-width: 100%;
  object-fit: cover;
  transition: all 0.3s ease 0s;
}
.top-sales__item-info-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--secondary-color);
  padding-top: 36px;
}
.top-sales__item-title {
  font-family: "Mont Book";
  font-size: 20px;
  line-height: 96.4%;
}
.top-sales__item-price {
  font-family: "Mont Bold";
  font-size: 30px;
  line-height: 96.4%; // 29px
}
.favorite-icon-block {
  position: absolute;
  top: 0;
  right: 0;
  padding: 17px 10px 16px 10px;
  background-color: #fff;
}
.top-sales-favorite-icon:hover {
  background: url(img/INDEX/top-sales/gradient-favorite-icon.svg) no-repeat
    center;
}
.top-sales__button {
  max-width: 327px;
  margin: 42px auto 0 auto;
  padding: 17px 70px 16px 70px;
}
.top-sales-swiper-pagination {
  left: 0;
}
.top-sales-swiper-button-prev {
  left: 0;
  top: 40%;
  padding: 11px 25px 11px 38px;
  border: 1px solid var(--secondary-color);
}
.top-sales-swiper-button-next {
  right: 0;
  top: 40%;
  padding: 11px 38px 11px 25px;
  background: linear-gradient(-92.18deg, #5e3928 20.13%, #e4a16f 92.93%);
}
.top-sales-swiper-button-prev::after,
.top-sales-swiper-button-next::after {
  content: "";
}
.top-sales-swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: var(--secondary-color);
  border-radius: 0;
  opacity: 1;
}
.top-sales-swiper .swiper-pagination-bullet-active {
  background: linear-gradient(65.81deg, #5e3928 -24.09%, #e4a16f 104.02%);
  position: relative;
}
.top-sales-swiper .swiper-pagination-bullet-active::after {
  content: url(img/INDEX/header-main/color-switch.svg);
  position: absolute;
  left: -5px;
  top: 55px;
}
.top-sales-swiper
  .swiper-horizontal
  > .top-sales-swiper
  .swiper-pagination-bullets,
.top-sales-swiper .swiper-pagination-bullets.swiper-pagination-horizontal,
.top-sales-swiper .swiper-pagination-custom,
.top-sales-swiper .swiper-pagination-fraction {
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  bottom: 0;
}

@media (max-width: 1800px) {
  .top-sales__container {
    padding: 0 49px;
  }
  .top-sales-swiper .swiper-slide {
    place-items: center;
  }
  .top-sales__item {
    width: 446px;
  }
}
@media (max-width: 1500px) {
  .top-sales-main-pic {
    max-width: 100%;
    object-fit: cover;
  }
  .top-sales__item {
    width: 100%;
  }
}
@media (max-width: 1300px) {
  .top-sales-swiper .swiper-slide {
    grid-template-columns: repeat(2, 1fr);
  }
  .top-sales__item-1 {
    display: none;
  }
  .top-sales__item {
    max-width: 400px;
  }
}
@media (max-width: 1000px) {
  .top-sales-swiper-button-prev,
  .top-sales-swiper-button-next {
    display: none;
  }
  .top-sales-swiper .swiper-slide {
    column-gap: 20px;
  }
  .top-sales__item-title {
    max-width: 169px;
  }
}
@media (max-width: 768px) {
  .top-sales-favorite-icon {
    width: 21px;
    height: 24px;
  }
  .top-sales__item-info-block {
    padding-top: 28.32px;
  }
  .favorite-icon-block {
    padding: 13.49px 7.26px 12.7px 7.26px;
  }
}
@media (max-width: 767.98px) {
  .page__top-sales {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .top-sales__container {
    padding: 0 15px;
  }
  .top-sales__item-price,
  .top-sales__item-title {
    font-size: 20px;
  }
  .top-sales__item-price {
    text-align: right;
  }
  .top-sales-favorite-icon:hover {
    background: url(img/INDEX/top-sales/768px-favorite-gradient.svg) no-repeat
      center;
  }
}
@media (max-width: 590px) {
  .top-sales-swiper .swiper-slide {
    grid-template-columns: repeat(1, 1fr);
  }
  .top-sales__item-3 {
    display: none;
  }
  .top-sales__button {
    max-width: 290px;
    padding: 17px 55px 16px 55px;
  }
}