.design {
  background-color: #fdf0e9;

  &__container {
    background-image: url(../../imges/design__bg.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 566px 585px;
    padding-top: 171px;
    padding-bottom: 240px;
    padding-left: 55%;
  }

  &__text1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #ef6d58;
  }

  &__heading {
    padding-top: 20px;
    padding-bottom: 26px;
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #391400;
    max-width: 417px;
  }

  &__text2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #391400;
  }

  &__title {
    font-weight: 400;
    max-width: 470px;
    font-size: 16px;
    line-height: 32px;
    color: #391400a3;
    padding-top: 18px;
    padding-bottom: 34px;
  }

  &__btn {
    font-weight: 900;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    width: 138px;
    height: 48px;
    color: #391400;
    background-color: #fff;
    box-shadow: 0px 3px 9px #39140014;
    border: 1px solid transparent;
    border-radius: 6px;
  }

  @media (max-width: 1100px) {
    &__container {
      background-size: 450px 470px;
    }

    &__title {
      font-size: 14px;
    }

    &__heading {
      font-size: 48px;
    }
  }

  @media (max-width: 850px) {
    &__container {
      background-position: top center;
      background-size: 80%;
      padding-left: 0;
      padding-top: 600px;
    }
  }

  @media (max-width: 650px) {
    &__container {
      padding-top: 650px;
      padding-bottom: 112px;

      background-size: 100%;
    }
  }

  @media (max-width: 450px) {
    &__container {

      padding-top: 430px;
    }

    &__title {
      width: 100%;
    }
  }
}