.events {
    background-color: #28293E;
    padding-bottom: 140px;


    &__btn {
        border: 1px solid #ffffff4b;
        border-radius: 6px;
        background-color: transparent;
        font-weight: 900;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
        width: 170px;
        height: 48px;
        color: #ffffff;
        transition: 0.3s ease;
        display: block;
        margin: 0 auto;
    }

    &__top {
        &-text {
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 3px;
            text-align: center;
            text-transform: uppercase;
            color: #EF6D58;
        }

        &-heading {
            font-weight: 800;
            font-size: 56px;
            line-height: 64px;
            letter-spacing: -1px;
            text-align: center;
            color: #fff;
            max-width: 426px;
            margin: auto;
            padding-top: 20px;
            padding-bottom: 64px;
        }
    }

    &__bottom {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 30px;
        padding-bottom: 64px;

        &-heading {
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            color: #fff;
            padding-top: 40px;
        }

        &-text {
            max-width: 290px;
            font-weight: 400;
            line-height: 32px;
            color: #fff;
            padding: 19px 0 26px 0;
        }

        &-link {
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            color: #fff;
            text-decoration: none;
        }
    }

    &__box1 {
        grid-column: 1/2;
    }

    &__box2 {
        grid-column: 2/3;
    }

    &__box3 {

        grid-column: 3/4;
    }

    &__box {
        padding: 36px 40px;
        border-radius: 6px;
        border: 1px solid #3A3C56;

        &-sana {
            display: flex;
            align-items: center;
            gap: 12px;
            width: 134px;
        }

        &-kun {
            font-weight: 800;
            font-size: 72px;
            line-height: 80px;
            letter-spacing: -2px;
            color: #FFFFFF;
        }

        &-oyyil {
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            color: #FFFFFF;
        }
    }

    &__soatlar {
        border-bottom: 1px solid #3A3C56;
        font-weight: 400;
        line-height: 32px;
        color: #FFFFFF;
    }

    &__soat {
        padding: 19px 0 36px 0;
    }

    @media (max-width: 1000px) {

        &__bottom {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto auto;
        }

        &__box1 {
            grid-column: 1/2;
            grid-row: 1/2;
        }

        &__box2 {
            grid-column: 2/3;
            grid-row: 1/2;
        }

        &__box3 {
            grid-column: 1/3;
            grid-row: 2/3;
            margin: auto;
        }
    }

    @media (max-width: 750px) {
        padding-bottom: 124px;

        &__bottom {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: auto auto;
            padding-bottom: 48px;
        }

        &__box1 {
            grid-column: 1/2;
            grid-row: 1/2;
            margin: auto;

        }

        &__box2 {
            grid-column: 1/2;
            grid-row: 2/3;
            margin: auto;

        }

        &__box3 {
            grid-column: 1/2;
            grid-row: 3/4;
            margin: auto;
        }
    }
}