.foiz {
  background-color: #fdf0e9;
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  padding-bottom: 140px;

  }

  &__box1 {
    grid-column: 1 / 2;
  }
  &__box2 {
    grid-column: 2 / 3;
  }
  &__box3 {
    grid-column: 3 / 3;
  }
  &__box {
    padding: 45px 0 38px 48px;
    border: 1px solid #f3d1bf;
    &-soni {
      font-weight: 800;
      font-size: 40px;
      line-height: 48px;
      color: #391400;
    }
    &-text {
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      color: #391400;
    }
  }
  @media (max-width: 900px) {
    &__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto;
      gap: 10px;
    }

    &__box1 {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    &__box2 {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
    &__box3 {
      text-align: center;
      grid-column: 1 / 3;
      grid-row: 2 / 2;
    }
  }
  @media (max-width: 600px) {
    &__container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto auto;
      gap: 10px;
    padding-bottom: 94px;
    }

    &__box1 {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    &__box2 {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    &__box3 {
      text-align: left;
      grid-column: 1 / 2;
      grid-row: 3 / 3;
    }
  }
}
