.header {
  background-color: #28293e;

  padding-top: 16px;
  padding-bottom: 14px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 14px;
  }

  &__heading {
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
  }

  &__navbar {
    display: flex;
    align-items: center;
    gap: 70px;

    &-a:hover {
      transform: scale(1.2);
      transition: 0.3s ease;
    }

    &-a {
      text-decoration: none;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      text-align: center;
      color: #ffffff;
      transition: 0.3s ease;
    }
  }

  &__btn:hover {
    transform: scale(0.9);
    background-color: #fff;
    color: #28293e;
    border: 1px solid transparent;
    transition: 0.3s ease;
  }

  &__btn {
    border: 1px solid #ffffff4b;
    width: 138px;
    height: 48px;
    border-radius: 6px;
    background-color: transparent;
    font-weight: 900;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    transition: 0.3s ease;
  }

  &__btn2 {
    display: none;
  }

  &__menu {
    display: none;
  }
  //responsive
    @media (max-width: 1100px){
      &__navbar {
        gap: 20px;
      }
  
      &__btn {
        border: 1px solid #ffffff4b;
        width: 100px;
        height: 40px;
        border-radius: 6px;
        background-color: transparent;
        font-weight: 800;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
      }
  }
      @media (max-width: 850px){
      &__wrapper {
        display: none;
      }
  
      &__btn {
        display: none;
      }
  
      &__open &__wrapper {
        background-color: rgba(0, 0, 0, 0.6);
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100vh;
      }
  
      &__navbar {
        display: flex;
        flex-direction: column;
        padding-top: 100px;
        height: 100%;
        align-items: flex-end;
        padding-right: 25px;
        background-color: rgb(41, 13, 13);
        width: 60%;
        margin-left: auto;
      }
  
      &__open &__btn2 {
        display: block;
        position: absolute;
        z-index: 1;
        right: 25px;
        bottom: 30px;
        width: 138px;
        height: 48px;
      }
  
      &__menu:hover {
        transform: scale(0.9);
        background-color: #00000034;
        transition: 0.3s ease;
      }
  
      &__menu {
        display: block;
        background-color: transparent;
        border: 1px solid #ffffff4b;
        border: none;
        width: 48px;
        height: 48px;
        z-index: 1;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s ease;
      }
  }
  
}
