.help {
    padding-bottom: 128px;
    padding-top: 94px;

    background-color: #FDF0E9;

    &__text {
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #EF6D58;
    }

    &__heading {
        padding-top: 17px;
        padding-bottom: 35px;
        max-width: 336px;
        font-weight: 800;
        font-size: 40px;
        line-height: 48px;
        color: #391400;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }

    &__box {
        border: 1px solid #F3D1BF;
        padding: 48px 49px 52px 48px;

        &-heading {
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            color: #391400;
            padding-top: 41px;
            padding-bottom: 19px;
        }

        &-text {
            font-weight: 400;
            line-height: 32px;
            color: #391400A3;
            padding-bottom: 26px;
        }

        &-link {
            font-weight: 400;
            line-height: 32px;
            color: #391400;
            text-decoration: none;
        }
    }

    &__box1 {
        grid-column: 1 / 2;
    }


    &__box2 {
        grid-column: 2 / 3;
    }

    &__box3 {
        grid-column: 3 / 4;
    }

    @media (max-width: 900px) {
        &__wrapper {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto auto;
            gap: 10px;
        }

        &__box1 {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }


        &__box2 {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }

        &__box3 {
            margin: auto;
            text-align: center;
            grid-column: 1 / 3;
            grid-row: 2 / 3;
        }
    }

    @media (max-width: 600px) {
        padding-bottom: 112px;
        padding-top: 34px;

        &__wrapper {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: auto auto;
        }

        &__box1 {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            margin: auto;
            text-align: center;
            
        }


        &__box2 {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            margin: auto;
            text-align: center;
        }

        &__box3 {
            margin: auto;
            text-align: center;
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }
    }
}