.portfolio {
    background-color: #28293e;
    padding-top: 92px;
    padding-bottom: 100px;

    &__text {
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 3px;
        text-align: center;
        text-transform: uppercase;
        color: #ef6d58;
    }

    &__heading {
        font-weight: 800;
        font-size: 56px;
        line-height: 64px;
        letter-spacing: -1px;
        text-align: center;
        color: #fff;
        padding-top: 20px;
        padding-bottom: 36px;
    }

    &__wrapper img{
        display: none;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
        padding-bottom: 88px;

        &_text {
            display: none;
        }

        &-text {
            font-weight: 400;
            line-height: 32px;
            color: #ffffffa3;
        }

        &-namber {
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            color: #ffffffa3;
        }
    }

    &__box {
        display: flex;
    }

    &__img {
        padding-bottom: 64px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
        row-gap: 32px;
        column-gap: 30px;

        &-box1 {
            grid-column: 1 / 2;
            height: 416px;
            grid-row: 1 / 2;
            background-image: url(../../imges/portfolio1.png);
            background-repeat: no-repeat;
            background-size: cover;

            display: block;
        }

        &-box2 {

            grid-column: 2 / 4;
            height: 416px;
            grid-row: 1 / 2;
            background-image: url(../../imges/portfolio2.png);
            background-repeat: no-repeat;
            background-size: cover;
            display: block;
        }

        &-box3 {

            grid-column: 1 / 3;
            height: 416px;
            grid-row: 2 / 3;
            background-image: url(../../imges/portfolio3.png);
            background-repeat: no-repeat;
            background-size: cover;
            display: block;
        }

        &-box4 {
            grid-column: 3 / 4;
            height: 416px;
            grid-row: 2 / 3;
            background-image: url(../../imges/portfolio4.png);
            background-repeat: no-repeat;
            background-size: cover;
            display: block;
        }

        &-box {
            padding: 256px 0 0 48px;
        }

        &-box:nth-child(2) &-btn {
            width: 102px;
        }

        &-box:nth-child(3) &-btn {
            width: 116px;
        }

        &-btn {
            text-align: center;
            display: block;
            width: 86px;
            height: 38px;
            background-color: #fff;
            border-radius: 50px;
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;

        }

        &-text {
            font-weight: 800;
            font-size: 40px;
            line-height: 48px;
            color: #fff;
            padding-top: 23px;

        }

    }

    &__btn {
        border: 1px solid #ffffff4b;
        border-radius: 6px;
        background-color: transparent;
        font-weight: 900;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
        width: 170px;
        height: 48px;
        color: #ffffff;
        transition: 0.3s ease;
        display: block;
        margin: 0 auto;
    }

    @media (max-width: 850px) {
        padding-bottom: 52px;

        &__img {
            padding-bottom: 48px;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: auto auto;
            column-gap: 0;

            &-box1 {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
            }

            &-box2 {

                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }

            &-box3 {

                grid-column: 1 / 2;
                grid-row: 3 / 4;
            }

            &-box4 {
                grid-column: 1 / 2;
                grid-row: 4 / 4;
            }



        }
    }

    @media (max-width: 750px) {
        &__heading {
            font-size: 40px;
            line-height: 48px;

        }

        &__box {
            display: none;
        }

        &__wrapper {
            background-color: #fff;
            border-radius: 6px;
            margin-bottom: 48px;
            display: flex;
            justify-content: space-between;
            padding: 8px 16px;

            &_text {
                display: block;
                font-weight: 400;
                font-size: 16px;
                line-height: 32px;
                color: #391400A3;
            }
        }
    }
}