.Started {
    padding-top: 92px;
    background-color: #28293E;
    padding-bottom: 140px;

    &__container {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        background-color: #FDF0E9;
        border-radius: 6px;
    }

    &__left img {
        position: absolute;
        top: -70px;
        left: 84px;
    }

    &__left {
        padding: 92px 0 64px 100px;
        grid-column: 1/2;

        &-text {
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 3px;
            text-transform: uppercase;
            color: #EF6D58;
        }

        &-heading {
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            color: #391400;
            padding: 13px 0 23px 0;
            max-width: 248px;
        }

        &-btn {
            font-weight: 900;
            font-size: 14px;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            width: 154px;
            height: 48px;
            background-color: #EF6D58;
            border-radius: 6px;
            border: 1px solid #EF6D58;
        }
    }

    &__center {
        padding-top: 80px;
        grid-column: 2/3;
    }

    &__right {
        grid-column: 3/4;
    }

    &__right img {
        position: absolute;
        top: -60px;
    }

    @media (max-width: 1050px) {
        &__left img {
            left: 42px;
        }

        &__right img {
            right: 10px;
        }

        &__left {
            padding-left: 50px;
        }

        &__center img {
            width: 300px;
            height: 180px;
        }
    }

    @media (max-width: 850px) {

        &__container {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto auto;

        }

        &__left {
            padding-bottom: 0;
            grid-column: 1/2;
            grid-row: 1/2;
        }

        &__right img {
            position: relative;

            top: 0px;
            left: 0px;
        }

        &__right {
            text-align: center;
            grid-column: 1/3;
            grid-row: 2/3;

        }

        &__center {
            grid-column: 2/3;
            grid-row: 1/2;

        }

        &__center img {
            width: 338px;
            height: 198px;
        }

    }

    @media (max-width: 600px) {
        &__container {
            grid-template-columns: repeat(1, 1fr);
        }

        &__right {
            grid-column: 1/2;
            grid-row: 3/4;

        }

        &__center {
            text-align: center;
            
            grid-column: 1/2;
            grid-row: 2/3;

        }
    }
}