.advertising {
  background-color: #fdf0e9;
  &__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding-top: 73px;
    padding-bottom: 72px;
    border-bottom: 1px solid #f3d1bf;
  }

  &__box1 {
    grid-column: 1 / 2;
  }

  &__box2 {
    grid-column: 2 / 3;
  }

  &__box3 {
    grid-column: 3 / 4;
  }

  &__box4 {
    grid-column: 4 / 5;
  }

  &__box5 {
    grid-column: 5 / 5;
  }
  
      @media (max-width: 850px) {
      &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
      }
  
      &__box1 {
        grid-column: 1 / 2;
  
        grid-row: 1 / 2;
      }
  
      &__box2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
  
      &__box3 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
      }
  
      &__box4 {
        grid-column: 1 / 3;
        grid-row: 2 / 2;
      }
  
      &__box5 {
        grid-column: 2 / 4;
        grid-row: 2 / 2;
      }
  }
      @media (max-width: 570px) {
      &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto auto;
        gap: 5px;
      }
  
      &__box1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
  
      &__box2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
  
      &__box3 {
        grid-column: 1 / 2;
        grid-row: 2 / 2;
      }
  
      &__box4 {
        grid-column: 2 / 2;
        grid-row: 2 / 2;
      }
  
      &__box5 {
        grid-column: 1 / 4;
        grid-row: 3 / 3;
      }
  }
}
