@mixin respond($device) {
  @if $device == mobile {
    @media (max-width: 576px) {
      @content; 
    }
  }
  @else if $device == tablet {
    @media (max-width: 620px) {
      @content;
    }
  }
  @else if $device == laptop {
    @media (max-width: 850px) {
      @content;
    }
  }
  @else if $device == desktop {
    @media (max-width: 1100px) {
      @content;
    }
  }
}